*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.6;
}
body{
    position: relative;
  
}

.bar{
    background-color: #ffffff;
    height: 78px;
    width: 960px;
    margin: 0 auto;   
}

.name{
    background-color:#418ea0;
    color: white;
    padding: 20px;
    width: 275px;
    float: left;
    letter-spacing: 1.5px;
    
}

h1{font-family: 'Georgia', Times, Times New Roman, serif;}

.index,
.port,
.contact{   
    float: right;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;   
}

.index,
.port {
    border-right: solid 1px lightgrey;
    margin-top: 25px;
    height: 20px;
}

.contact{ margin-top: 25px;}

.navA{
    text-decoration: none; 
    color: grey;   
}

.navA:hover {
    border: 2px grey solid;
    padding: 5px;
}

.links{float: right;}

.all{
    clear:both;
    background: url(../../assets/images/morocco-blue/morocco-blue.png) top left repeat;
    background-size: auto cover;
    background-position: top left;
    height: 900px;
    border-top: 2px grey solid;  
    position: relative;
    overflow: hidden;
}

.about{
    color: #418ea0;
    padding: 20px;
}

hr{margin: 0 20px;}

.content{
    background-color:white;
    width: 960px;
    margin: 0 auto;
    height: 720px;
    margin-top: 30px;
}

.myPhoto{
    height: 450px;
    padding: 30px 20px;
}

.paragraph1,
.paragraph2,
.paragraph3{
    width: 600px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: dimgray;
}

.paragraph1{padding-top: 30px;}

.paragraph2{padding-top: 20px;}

.paragraph3{
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 20px; 
    width: 100%;
}

.myPhoto,
.paragraph1,
.paragraph2,
.paragraph3{
    float: left;
}

footer{
    clear: both;
    height: 85px;
    background-color: #666666;
    width: 100%;
    border-top: 10px #418ea0 solid;
    position: absolute;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    position: fixed;
    z-index: 1;
    bottom: 0;
}

.copyright{
    color: silver;
    position: relative;
    top: 45px;
}





/* Portfolio page */

.portfolio{height: 1250px;}

.portContent{
    background-color: white;
    width: 960px;
    margin: 0 auto;
    height: 1050px;
    margin-top: 30px;
}

.portHead{
    color:#418ea0;
    padding: 20px;
}

.portImg{
    height: 300px;
    padding-left: 30px;
    padding-top: 20px;
}

.img1,
.img2,
.img3,
.img4,
.img5{
    position: relative;
}

.img1 > .portA,
.img2 > .portA,
.img3 > .portA,
.img4 > .portA,
.img5 > .portA{
    position: absolute;
    bottom: 25px;
    left: 30px;
    text-decoration: none;
}

.img1 > .portA:hover,
.img2 > .portA:hover,
.img3 > .portA:hover,
.img4 > .portA:hover,
.img5 > .portA:hover{
  border: 3px white solid;
}

.img1, 
.img2,
.img3,
.img4,
.img5{
    float: left;
}

h4{
    background-color: #418ea0;
    color: white;
    text-align: center;
    width: 373px;
    padding: 10px 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
}



/* Contact page*/
.form{height: 720px;}

.formContent{
    width: 960px;
    margin: 0 auto;
    background-color: white;
    height: 550px;
    margin-top: 30px;
}

.formContent > h1{
    color:#418ea0;
    padding: 20px;
}

form{
    padding: 20px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    color: dimgray;
    
}

.sameSize{width: 915px;}

.bttn{
    background-color:#418ea0;
    color: white;
    padding: 10px 30px;
}

.bttn:hover{border: dimgray 3px solid;}

.insertName{padding-bottom: 10px ;}

.insertEmail{padding: 10px 0;}

.insertMessage{padding: 10px 0;}


























/*medium sized tablet for index about*/

@media screen and (max-width: 1100px){

    .bar{
        background-color: #ffffff;
        height: 80px;
        width: 700px;
        margin: 0 auto;   
    }
    
    .name{
        background-color:#418ea0;
        color: white;
        padding: 20px;
        width: 320px;
        float: left;
        letter-spacing: 1.5px;
        font-size: 25px;
        margin: 0 auto;
        
        
    }
    
    h1{font-family: 'Georgia', Times, Times New Roman, serif;}
    
    .index,
    .port,
    .contact{   
        float: right;
        list-style-type: none;
        padding-right: 10px;
        padding-left: 10px;   
    }
    
    .index,
    .port {
        border-right: solid 1px lightgrey;
        margin-top: 25px;
        height: 20px;
    }
    
    .contact{ 
        margin-top: 25px;
        margin-right: 20px;
    
    }
    
    .navA{
        text-decoration: none; 
        color: grey;   
    }
    
    .navA:hover {
        border: 2px grey solid;
        padding: 5px;
    }
    
    .links{float: right;}
    
    .all{
        clear:both;
        background: url(../../assets/images/morocco-blue/morocco-blue.png) top left repeat;
        background-size: auto cover;
        background-position: top left;
        height: 1080px;
        border-top: 2px grey solid;  
    }
    
    .about{
        color: #418ea0;
        padding: 25px;
        
        
    }
    
    hr{margin: 0 25px;}
    
    .content{
        background-color:white;
        width: 700px;
        margin: 0 auto;
        height: 920px;
        margin-top: 40px;
        
        
        
        
    }
    
    
    .myPhoto{
        
        height: 375px;
        padding: 25px;
        
    
    }
    
    
    .paragraph1,
    .paragraph2,
    .paragraph3{
        width: 380px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: dimgray;
        
    }
    
    .paragraph1{padding-top: 25px;}
    
    .paragraph2{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        
    }
    
    .paragraph3{
        padding-left: 15px;
        padding-bottom: 30px;
        padding-top: 20px; 
        padding-right: 15px;
        width: 100%;
        
        
    }
    
    
    
    
    .paragraph1,
    .paragraph2,
    .paragraph3
    {
        float: left;
    }
    
    footer{
        clear: both;
        height: 60px;
        background-color: #666666;
        width: 100%;
        border-top: 10px #418ea0 solid;
        position: absolute;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-align: center;
        font-size: 10px;
        position: fixed;
        z-index: 1;
        bottom: 0;
    }
    
    .copyright{
        color: silver;
        position: relative;
        top: 15px;
    }



/* tablet size Portfolio page */

.portfolio{height: 1050px;}

.portContent{
    background-color: white;
    width: 700px;
    margin: 0 auto;
    height: 890px;
    margin-top: 30px;
}

.portHead{
    color:#418ea0;
    padding: 10px 20px;
}

.portImg{
    height: 240px;
    padding-left: 30px;
    padding-top: 20px;
}

.img1,
.img2,
.img3,
.img4,
.img5{
    position: relative;
}

.img1 > .portA,
.img2 > .portA,
.img3 > .portA,
.img4 > .portA,
.img5 > .portA{
    position: absolute;
    bottom: 25px;
    left: 30px;
    text-decoration: none;
}

.img1 > .portA:hover,
.img2 > .portA:hover,
.img3 > .portA:hover,
.img4 > .portA:hover,
.img5 > .portA:hover{
  border: 3px white solid;
}

.img1, 
.img2,
.img3,
.img4,
.img5{
    float: left;
}

h4{
    background-color: #418ea0;
    color: white;
    text-align: center;
    width: 293px;
    padding: 10px 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
}





    
    }





    /* small landscape phone size index about page*/

@media screen and (max-width:767px){
    
    .bar{
        background-color: #ffffff;
        height: 40px;
        width: 520px;
        margin: 0 auto;   
    }
    
    .name{
        background-color:#418ea0;
        color: white;
        padding: 10px;
        width: 220px;
        float: left;
        letter-spacing: 1.5px;
        font-size: 20px;
        margin: 0 auto;
        
        
    }
    
    h1{font-family: 'Georgia', Times, Times New Roman, serif;}
    
    .index,
    .port,
    .contact{   
        float: right;
        list-style-type: none;
        padding-right: 10px;
        padding-left: 10px;   
    }
    
    .index,
    .port {
        border-right: solid 1px lightgrey;
        margin-top: 15px;
        height: 20px;
    }
    
    .contact{ 
        margin-top: 15px;
        margin-right: 20px;
    
    }
    
    .navA{
        text-decoration: none; 
        color: grey;   
    }
    
    .navA:hover {
        border: 2px grey solid;
        padding: 5px;
    }
    
    .links{float: right;}
    
    .all{
        clear:both;
        background: url(../../assets/images/morocco-blue/morocco-blue.png) top left repeat;
        background-size: auto cover;
        background-position: top left;
        height: 1220px;
        border-top: 2px grey solid;  
    }
    
    .about{
        color: #418ea0;
        padding: 10px;
        font-size: 20px;
        
    }
    
    hr{margin: 0 10px;}
    
    .content{
        background-color:white;
        width: 520px;
        margin: 0 auto;
        height: 1100px;
        margin-top: 30px;
        
        
        
        
    }
    
    
    .myPhoto{
        
        height: 275px;
        padding: 15px;
      
        
    
    }
    
    
    .paragraph1,
    .paragraph2,
    .paragraph3{
        width: 295px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: dimgray;
        
    }
    
    .paragraph1{padding-top: 15px;}
    
    .paragraph2{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        
    }
    
    .paragraph3{
        padding-left: 15px;
        padding-bottom: 30px;
        padding-top: 20px; 
        padding-right: 15px;
        width: 100%;
        
        
    }
    
    
    
    
    .paragraph1,
    .paragraph2,
    .paragraph3
    {
        float: left;
    }
    
    footer{
        clear: both;
        height: 50px;
        background-color: #666666;
        width: 100%;
        border-top: 7px #418ea0 solid;
        position: absolute;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-align: center;
        font-size: 10px;
        position: fixed;
        z-index: 1;
        bottom: 0;
    }
    
    .copyright{
        color: silver;
        position: relative;
        top: 12px;
    }
    

/* portfolio page landscape phone size*/

    .portfolio{height: 800px;}

    .portContent{
        background-color: white;
        width: 520px;
        margin: 0 auto;
        height: 670px;
        margin-top: 30px;
    }
    
    .portHead{
        color:#418ea0;
        padding: 10px 20px;
    }
    
    .portImg{
        height: 180px;
        padding-left: 30px;
        padding-top: 20px;
    }
    
    .img1,
    .img2,
    .img3,
    .img4,
    .img5{
        position: relative;
    }
    
    .img1 > .portA,
    .img2 > .portA,
    .img3 > .portA,
    .img4 > .portA,
    .img5 > .portA{
        position: absolute;
        bottom: 25px;
        left: 30px;
        text-decoration: none;
    }
    
    .img1 > .portA:hover,
    .img2 > .portA:hover,
    .img3 > .portA:hover,
    .img4 > .portA:hover,
    .img5 > .portA:hover{
      border: 3px white solid;
    }
    
    .img1, 
    .img2,
    .img3,
    .img4,
    .img5{
        float: left;
    }
    
    h4{
        background-color: #418ea0;
        color: white;
        text-align: center;
        width: 214px;
        padding: 5px 0;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: normal;
        font-size: 15px;
    }
    
    
    
    





    }








    /* xs portrait phone size index about page*/

@media screen and (max-width:576px){
    
    .bar{
        background-color: #ffffff;
        height: 40px;
        width: 350px;
        margin: 0 auto;   
    }
    
    .name{
        background-color:#418ea0;
        color: white;
        padding: 10px;
        width: 110px;
        float: left;
        letter-spacing: 1.5px;
        font-size: 17px;
        margin: 0 auto;
        
        
    }
    
    h1{font-family: 'Georgia', Times, Times New Roman, serif;}
    
    .index,
    .port,
    .contact{   
        float: right;
        list-style-type: none;
        padding-right: 10px;
        padding-left: 10px;   
    }
    
    .index,
    .port {
        border-right: solid 1px lightgrey;
        margin-top: 20px;
        height: 20px;
    }
    
    .contact{ 
        margin-top: 20px;
        margin-right: 20px;
    
    }
    
    .navA{
        text-decoration: none; 
        color: grey;   
    }
    
    .navA:hover {
        border: 2px grey solid;
        padding: 2px;
    }
    
    .links{float: right;}
    
    .all{
        clear:both;
        background: url(../../assets/images/morocco-blue/morocco-blue.png) top left repeat;
        background-size: auto cover;
        background-position: top left;
        height: 1700px;
        border-top: 2px grey solid;  
    }
    
    .about{
        color: #418ea0;
        padding: 10px;
        font-size: 20px;
        
    }
    
    hr{margin: 0 10px;}
    
    .content{
        background-color:white;
        width: 350px;
        margin: 0 auto;
        height: 1550px;
        margin-top: 30px;
        
        
        
        
    }

    
    
    
    .myPhoto{
        
        height: 275px;
        padding: 15px;
        margin: 0 auto;
       
        
        
    
    }
    
    
    .paragraph1,
    .paragraph2,
    .paragraph3{
        width: 330px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: dimgray;
        padding-left: 15px;
        
    }
    
    .paragraph1{padding-top: 10px;
    }
    
    .paragraph2{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        
    }
    
    .paragraph3{
        padding-left: 15px;
        padding-bottom: 30px;
        padding-top: 20px; 
        padding-right: 15px;
        width: 100%;
        
        
    }
    
    
    
    
    .paragraph1,
    .paragraph2,
    .paragraph3
    {
        float: left;
    }
    
    footer{
        clear: both;
        height: 40px;
        background-color: #666666;
        width: 100%;
        border-top: 7px #418ea0 solid;
        position: absolute;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-align: center;
        font-size: 10px;
        position: fixed;
        z-index: 1;
        bottom: 0;
    }
    
    .copyright{
        color: silver;
        position: relative;
        top: 7px;
    }



    /*portfolio page xs portrait phone*/
    

    .portfolio{height: 1350px;}

    .portContent{
        background-color: white;
        width: 320px;
        margin: 0 auto;
        height: 1220px;
        margin-top: 30px;
    }
    
    .portHead{
        color:#418ea0;
        padding: 10px 20px;
    }
    
    .portImg{
        height: 215px;
        padding-left: 30px;
        padding-top: 20px;
    }
    
    .img1,
    .img2,
    .img3,
    .img4,
    .img5{
        position: relative;
    }
    
    .img1 > .portA,
    .img2 > .portA,
    .img3 > .portA,
    .img4 > .portA,
    .img5 > .portA{
        position: absolute;
        bottom: 25px;
        left: 30px;
        text-decoration: none;
    }
    
    .img1 > .portA:hover,
    .img2 > .portA:hover,
    .img3 > .portA:hover,
    .img4 > .portA:hover,
    .img5 > .portA:hover{
      border: 3px white solid;
    }
    
    .img1, 
    .img2,
    .img3,
    .img4,
    .img5{
        float: left;
    }
    
    h4{
        background-color: #418ea0;
        color: white;
        text-align: center;
        width: 261px;
        padding: 5px 0;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: normal;
        font-size: 15px;
    }


    }
    
    