  
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        line-height: 1.6;
    }
    
    body{position: relative}
    
    .bar{
        background-color: #ffffff;
        height: 78px;
        width: 960px;
        margin: 0 auto;   
        position: static;
    }
    
    .name{
        background-color:#418ea0;
        color: white;
        padding: 20px;
        width: 275px;
        float: left;
        letter-spacing: 1.5px;
        
    }
    
    h1{font-family: 'Georgia', Times, Times New Roman, serif;}
    
    .index,
    .port,
    .contact{   
        float: right;
        list-style-type: none;
        padding-right: 10px;
        padding-left: 10px;   
    }
    
    .index,
    .port {
        border-right: solid 1px lightgrey;
        margin-top: 25px;
        height: 20px;
    }
    
    .contact{ margin-top: 25px;}
    
    .navA{
        text-decoration: none; 
        color: grey;   
    }
    
    .navA:hover {
        border: 2px grey solid;
        padding: 5px;
    }
    
    .links{float: right;}
    
    .all{
        clear:both;
        background: url(../../assets/images/morocco-blue/morocco-blue.png) top left repeat;
        background-size: auto cover;
        background-position: top left;
        height: 1100px;
        border-top: 2px grey solid;  
        position: relative;
        
    }
    
    .about{
        color: #418ea0;
        padding: 20px;
    }
    
    hr{margin: 0 20px;}
    
    .content{
        background-color:white;
        width: 960px;
        margin: 0 auto;
        height: 820px;
        margin-top: 30px;
    }
    
    .myPhoto{
        height: 450px;
        padding: 30px ;
        padding-left: 40px;
    }
    
    
    
    
    
    .contentBySticky{
        float: right;
        width: 580px;
        margin: 0 auto;
        padding: 20px 30px;
        padding-left: 0px;
        
        
    }
    
    p{
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: dimgray;
    }
    
    .paragraph2,
    .paragraph3{
      padding-top: 20px;
    }
    
    .sticky{
        float:left;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
     }
    
    
    footer{
        clear: both;
        height: 85px;
        background-color: #666666;
        width: 100%;
        border-top: 10px #418ea0 solid;
        position: absolute;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-align: center;
        font-size: 14px;
        position: fixed;
        z-index: 1;
        bottom: 0;
    }
    
    .copyright{
        color: silver;
        position: relative;
        top: 45px;
    }
    
    
    
    
    
    
    /* Portfolio page */
    
    .portfolio{height: 1250px;}
    
    .portContent{
        background-color: white;
        width: 960px;
        margin: 0 auto;
        height: 1050px;
        margin-top: 30px;
    }
    
    .portHead{
        color:#418ea0;
        padding: 20px;
    }
    
    .portImg{
        height: 300px;
        width: 410px;
        padding-left: 30px;
        padding-top: 20px;
    }
    
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6{
        position: relative;
    }
    
    .img1 > .portA,
    .img2 > .portA,
    .img3 > .portA,
    .img4 > .portA,
    .img5 > .portA,
    .img6 > .portA{
        position: absolute;
        bottom: 25px;
        left: 30px;
        text-decoration: none;
    }
    
    .img1 > .portA:hover,
    .img2 > .portA:hover,
    .img3 > .portA:hover,
    .img4 > .portA:hover,
    .img5 > .portA:hover,
    .img6 > .portA:hover{
      border: 3px white solid;
    }
    
    .img1, 
    .img2,
    .img3,
    .img4,
    .img5,
    .img6{
        float: left;
    }
    
    h4{
        background-color: #418ea0;
        color: white;
        text-align: center;
        width: 380px;
        padding: 10px 0;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: normal;
    }
 
    
    
    
    
    
    /* Contact page*/
    .form{height: 720px;}
    
    .formContent{
        width: 960px;
        margin: 0 auto;
        background-color: white;
        height: 550px;
        margin-top: 30px;
    }
    
    .formContent > h1{
        color:#418ea0;
        padding: 20px;
    }
    
    form{
        padding: 20px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
        color: dimgray;
        
    }
    
    .sameSize{width: 915px;}
    
    .bttn{
        background-color:#418ea0;
        color: white;
        padding: 10px 30px;
    }
    
    .bttn:hover{border: dimgray 3px solid;}
    
    .insertName{padding-bottom: 10px ;}
    
    .insertEmail{padding: 10px 0;}
    
    .insertMessage{padding: 10px 0;}
    
    
    
    
    
    
    
    
    
    
    
    
    /*Tablet Sized pages*/
    
    
    
    /*medium sized tablet for index about*/
    
    @media screen and (max-width: 980px){
    
        .bar{
            background-color: #ffffff;
            height: 80px;
            width: 700px;
            margin: 0 auto;   
        }
        
        .name{
            background-color:#418ea0;
            color: white;
            padding: 20px;
            width: 320px;
            float: left;
            letter-spacing: 1.5px;
            font-size: 25px;
            margin: 0 auto; 
        }
        
        h1{font-family: 'Georgia', Times, Times New Roman, serif;}
        
        .index,
        .port,
        .contact{   
            float: right;
            list-style-type: none;
            padding-right: 10px;
            padding-left: 10px;   
        }
        
        .index,
        .port {
            border-right: solid 1px lightgrey;
            margin-top: 25px;
            height: 20px;
        }
        
        .contact{ 
            margin-top: 25px;
            margin-right: 20px;
        
        }
        
        .navA{
            text-decoration: none; 
            color: grey;   
        }
        
        .navA:hover {
            border: 2px grey solid;
            padding: 5px;
        }
        
        .links{float: right;}
        
        .all{
            clear:both;
            background: url(../../assets/images/morocco-blue/morocco-blue.png) top left repeat;
            background-size: auto cover;
            background-position: top left;
            height: 1350px;
            border-top: 2px grey solid;  
        }
        
        .about{
            color: #418ea0;
            padding: 25px;
            
            
        }
    
        
        hr{margin: 0 25px;}
        
        .content{
            background-color:white;
            width: 700px;
            margin: 0 auto;
            height: 1120px;
            margin-top: 40px;     
        }
    
        .contentBySticky{
            float: right;
            width: 400px;
        }
        
        .myPhoto{
            
            height: 375px;
            padding: 25px;
        }
        
        
        
        
        footer{
            clear: both;
            height: 60px;
            background-color: #666666;
            width: 100%;
            border-top: 10px #418ea0 solid;
            position: absolute;
            font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            text-align: center;
            font-size: 10px;
            position: fixed;
            z-index: 1;
            bottom: 0;
        }
        
        .copyright{
            color: silver;
            position: relative;
            top: 15px;
        }
    
    
    
    
    /* tablet size Portfolio page */
    
    .portfolio{height: 1050px;}
    
    .portContent{
        background-color: white;
        width: 700px;
        margin: 0 auto;
        height: 890px;
        margin-top: 30px;
    }
    
    .portHead{
        color:#418ea0;
        padding: 10px 20px;
    }
    
    .portImg{
        height: 240px;
        width: 340px;
        padding-left: 30px;
        padding-top: 20px;
    }
    
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6{position: relative;}
    
    .img1 > .portA,
    .img2 > .portA,
    .img3 > .portA,
    .img4 > .portA,
    .img5 > .portA,
    .img6 > .portA{
        position: absolute;
        bottom: 25px;
        left: 30px;
        text-decoration: none;
    }
    
    .img1 > .portA:hover,
    .img2 > .portA:hover,
    .img3 > .portA:hover,
    .img4 > .portA:hover,
    .img5 > .portA:hover,
    .img6 > .portA:hover{
      border: 3px white solid;
    }
    
    .img1, 
    .img2,
    .img3,
    .img4,
    .img5,
    .img6{
        float: left;
    }
    
    h4{
        background-color: #418ea0;
        color: white;
        text-align: center;
        width: 310px;
        padding: 10px 0;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: normal;
    }


    
    
    
    
    /* Tablet Size Contact page*/
    .form{height: 670px;}
    
    .formContent{
        width: 700px;
        margin: 0 auto;
        background-color: white;
        height: 530px;
        margin-top: 30px;
    }
    
    .formContent > h1{
        color:#418ea0;
        padding: 20px;
    }
    
    form{
        padding: 20px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
        color: dimgray;
        
    }
    
    .sameSize{width: 660px;}
    
    .bttn{
        background-color:#418ea0;
        color: white;
        padding: 10px 30px;
    }
    
    .bttn:hover{border: dimgray 3px solid}
    
    .insertName{padding-bottom: 10px }
    
    .insertEmail{padding: 10px 0}
    
    .insertMessage{padding: 10px 0}
    
    textarea{ max-width: 100%}
    
        }
    
    
    
    
    
    
    
    
    /*Small Landscape Phone Pages*/
    
    
    
        /* small landscape phone size index about page*/
    
    @media screen and (max-width:768px){
        
        .bar{
            background-color: #ffffff;
            height: 40px;
            width: 520px;
            margin: 0 auto;   
        }
        
        .name{
            background-color:#418ea0;
            color: white;
            padding: 10px;
            width: 220px;
            float: left;
            letter-spacing: 1.5px;
            font-size: 20px;
            margin: 0 auto;     
        }
        
        h1{font-family: 'Georgia', Times, Times New Roman, serif;}
        
        .index,
        .port,
        .contact{   
            float: right;
            list-style-type: none;
            padding-right: 10px;
            padding-left: 10px;   
        }
        
        .index,
        .port {
            border-right: solid 1px lightgrey;
            margin-top: 15px;
            height: 20px;
        }
        
        .contact{ 
            margin-top: 15px;
            margin-right: 20px;
        }
        
        .navA{
            text-decoration: none; 
            color: grey;   
        }
        
        .navA:hover {
            border: 2px grey solid;
            padding: 5px;
        }
        
        .links{float: right;}
        
        .all{
            clear:both;
            background: url(../../assets/images/morocco-blue/morocco-blue.png) top left repeat;
            background-size: auto cover;
            background-position: top left;
            height: 1700px;
            border-top: 2px grey solid;  
        }
        
        .about{
            color: #418ea0;
            padding: 10px;
            font-size: 20px;    
        }
        
        hr{margin: 0 10px;}
        
        .content{
            background-color:white;
            width: 520px;
            margin: 0 auto;
            height: 1450px;
            margin-top: 30px;    
        }
        
        
        .myPhoto{  
            height: 275px;
            padding: 15px;
            
        }
    
        .contentBySticky{
            float: right;
            width: 300px;
        }
        
        
       
        
        footer{
            clear: both;
            height: 50px;
            background-color: #666666;
            width: 100%;
            border-top: 7px #418ea0 solid;
            position: absolute;
            font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            text-align: center;
            font-size: 10px;
            position: fixed;
            z-index: 1;
            bottom: 0;
        }
        
        .copyright{
            color: silver;
            position: relative;
            top: 12px;
        }
        
    
    
    
    /* portfolio page landscape phone size*/
    
        .portfolio{height: 900px;}
    
        .portContent{
            background-color: white;
            width: 520px;
            margin: 0 auto;
            height: 670px;
            margin-top: 30px;
        }
        
        .portHead{
            color:#418ea0;
            padding: 10px 20px;
        }
        
        .portImg{
            height: 180px;
            width: 250px;
            padding-left: 30px;
            padding-top: 20px;
        }
        
        .img1,
        .img2,
        .img3,
        .img4,
        .img5,
        .img6{
            position: relative;
        }
        
        .img1 > .portA,
        .img2 > .portA,
        .img3 > .portA,
        .img4 > .portA,
        .img5 > .portA,
        .img6 > .portA{
            position: absolute;
            bottom: 25px;
            left: 30px;
            text-decoration: none;
        }
        
        .img1 > .portA:hover,
        .img2 > .portA:hover,
        .img3 > .portA:hover,
        .img4 > .portA:hover,
        .img5 > .portA:hover,
        .img6 > .portA:hover{
          border: 3px white solid;
        }
        
        .img1, 
        .img2,
        .img3,
        .img4,
        .img5,
        .img6{
            float: left;
        }
        
        h4{
            background-color: #418ea0;
            color: white;
            text-align: center;
            width: 220px;
            padding: 5px 0;
            font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            font-weight: normal;
            font-size: 15px;
        }
        
        
        
        
        
    
    /* Landscape phone small Size Contact page*/
    
    
    .form{height: 900px;}
    
    .formContent{
        width: 520px;
        margin: 0 auto;
        background-color: white;
        height: 515px;
        margin-top: 30px;
    }
    
    .formContent > h1{
        color:#418ea0;
        padding: 20px;
    }
    
    form{
        padding: 20px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
        color: dimgray;
        
    }
    
    .sameSize{width: 480px;}
    
    .bttn{
        background-color:#418ea0;
        color: white;
        padding: 10px 30px;
    }
    
    .bttn:hover{border: dimgray 3px solid}
    
    .insertName{padding-bottom: 10px }
    
    .insertEmail{padding: 10px 0}
    
    .insertMessage{padding: 10px 0}
    
    textarea{max-width: 100%}
    
        }
    
    
    
        
    
    
    
    
    /*xs Portrait Phone pages*/
    
    
    
        /* xs portrait phone size index about page*/
    
    @media screen and (max-width:640px){
        
        .bar{
            background-color: #ffffff;
            height: 40px;
            width: 330px;
            margin: 0 auto;   
        }
        
        .name{
            background-color:#418ea0;
            color: white;
            padding: 10px;
            width: 110px;
            float: left;
            letter-spacing: 1.5px;
            font-size: 17px;
            margin: 0 auto;     
        }
        
        h1{font-family: 'Georgia', Times, Times New Roman, serif}
        
        .index,
        .port,
        .contact{   
            float: right;
            list-style-type: none;
            padding-right: 10px;
            padding-left: 10px;   
        }
        
        .index,
        .port {
            border-right: solid 1px lightgrey;
            margin-top: 20px;
            height: 20px;
        }
        
        .contact{ 
            margin-top: 20px;
            margin-right: 0px;
        }
        
        .navA{
            text-decoration: none; 
            color: grey;   
        }
        
        .navA:hover {
            border: 2px grey solid;
            padding: 1px;
        }
        
        .links{float: right;}
        
        .all{
            clear:both;
            background: url(../../assets/images/morocco-blue/morocco-blue.png) top left repeat;
            background-size: auto cover;
            background-position: top left;
            height: 1800px;
            border-top: 2px grey solid;  
        }
        
        .about{
            color: #418ea0;
            padding: 10px;
            font-size: 20px;    
        }
        
        hr{margin: 0 15px}
        
        .content{
            background-color:white;
            width: 330px;
            margin: 0 auto;
            height: 1700px;
            margin-top: 30px;    
        }
    
        .myPhoto{ 
            height: 275px;
            padding: 15px;
            margin: 0 auto;
        }
        
        .sticky{
            width: auto;
            position: static;
            margin: 0 53px;
        }
       
        
       
        
        footer{
            clear: both;
            height: 40px;
            background-color: #666666;
            width: 100%;
            border-top: 7px #418ea0 solid;
            position: absolute;
            font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            text-align: center;
            font-size: 10px;
            position: fixed;
            z-index: 1;
            bottom: 0;
        }
        
        .copyright{
            color: silver;
            position: relative;
            top: 7px;
        }
    
    
    
    
    
        /*portfolio page xs portrait phone*/
        
    
        .portfolio{height: 1550px;}
    
        .portContent{
            background-color: white;
            width: 330px;
            margin: 0 auto;
            height: 1420px;
            margin-top: 30px;
        }
        
        .portHead{
            color:#418ea0;
            padding: 10px 20px;
        }
        
        .portImg{
            height: 215px;
            width: 300px;
            padding-left: 30px;
            padding-top: 20px;
        }
        
        .img1,
        .img2,
        .img3,
        .img4,
        .img5,
        .img6{
            position: relative;
        }
        
        .img1 > .portA,
        .img2 > .portA,
        .img3 > .portA,
        .img4 > .portA,
        .img5 > .portA,
        .img6 > .portA{
            position: absolute;
            bottom: 25px;
            left: 30px;
            text-decoration: none;
        }
        
        .img1 > .portA:hover,
        .img2 > .portA:hover,
        .img3 > .portA:hover,
        .img4 > .portA:hover,
        .img5 > .portA:hover,
        .img6 > .portA:hover{
          border: 3px white solid;
        }
        
        .img1, 
        .img2,
        .img3,
        .img4,
        .img5,
        .img6{float: left}
        
        h4{
            background-color: #418ea0;
            color: white;
            text-align: center;
            width: 270px;
            padding: 5px 0;
            font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            font-weight: normal;
            font-size: 15px;
        }
    
      
    
    
    
    
    /* XS portrait phone  Size Contact page*/
    .form{height: 620px;}
    
    .formContent{
        width: 330px;
        margin: 0 auto;
        background-color: white;
        height: 515px;
        margin-top: 30px;
    }
    
    .formContent > h1{
        color:#418ea0;
        padding: 20px;
    }
    
    form{
        padding: 20px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
        color: dimgray;    
    }
    
    .sameSize{width: 280px}
    
    .bttn{
        background-color:#418ea0;
        color: white;
        padding: 10px 30px;
    }
    
    .bttn:hover{border: dimgray 3px solid}
    
    .insertName{padding-bottom: 10px }
    
    .insertEmail{padding: 10px 0}
    
    .insertMessage{padding: 10px 0}
    
    textarea{max-width: 100%}
    
    
        }
        
           